<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :zaseki %>
    <%= f.input :about %>
  </div>

<!-- 追加箇所 開始 -->
  <div class="field">
    <% if @employee.image? %>
      <div class="thumbnail">
        <%= image_tag @employee.image.url %>
      </div>
    <% end %><br>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @employee.persisted? && @employee.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->




  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
