<p id="notice"><%= notice %></p>

<h1>従業員＆座席表</h1>
<center><h1>1717 Memeber list</h1></center>
<div class="container">
<div class="tablecenter">
<table class="span11 table table-striped table-bordered table-hover table-condensed table-responsive yokohaba" >
  <thead class="scrollHead">
    <tr class="active">
      <th width="80">Picture</th>
      <th width="80">氏名</th>
      <th width="80">座席</th>
      <th width="280">メール</th>
      <th width="80">社員番号</th>
      <th width="200">職種</th>
      <th width="80">プロジェクト</th>
      <th width="80">管理</th>
    </tr>

  </thead>

  <tbody class="scrollBody">
    <% @employees.each do |employee| %>
      <tr>
        <td><image src="<%= employee.image %>" width="80" height="50"></td>
        <td width="80"><%= employee.name %></td>
        <td width="80"><%= employee.zaseki %></td>
        <td width="280"><%= employee.mail %></td>
        <td width="80"><%= employee.about %></td>
        <td width="200"><%= employee.job %></td>
        <td width="80"><%= employee.project %></td>
        <td><button type="button" class="btn btn-info" ><%= link_to '参照', employee %></td></button>
        <td><button type="button" class="btn btn-warning" ><%= link_to '更新', edit_employee_path(employee) %></button></td>
        <td><button type="button" class="btn btn-danger" ><%= link_to '削除', employee, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>


      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<p class="fixed-0">
<button type="button" class="btn btn-success" ><%= link_to 'New Member', new_employee_path %></button>
</p>
