<p id="notice"><%= notice %></p>

<p>
  <strong>氏名:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>座席:</strong>
  <%= @employee.zaseki %>
</p>

<p>
  <strong>社員番号:</strong>
  <%= @employee.about %>
</p>

<p>
  <strong>職種:</strong>
  <%= @employee.job %>
</p>

<p>
  <strong>プロジェクト:</strong>
  <%= @employee.project %>
</p>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <strong>自己紹介:</strong>
    </div>
    <div class="col-xs-4">
      <%= @employee.jico %>
    </div>
  </div>
</div>
<br>
<!-- 追加箇所 開始 -->
<p>
  <strong>写真:</strong>
  <% if @employee.image? %>
    <div class="thumbnail">
      <%= image_tag @employee.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
