<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Zaseki:</strong>
  <%= @employee.zaseki %>
</p>

<p>
  <strong>About:</strong>
  <%= @employee.about %>
</p>

<p>
  <strong>Job:</strong>
  <%= @employee.job %>
</p>

<p>
  <strong>Project:</strong>
  <%= @employee.project %>
</p>

<p>
  <strong>PC番号:</strong>
  <%= @employee.pc %>
</p>

<p>
  <strong>NotePc番号:</strong>
  <%= @employee.notepc %>
</p>

<p>
  <strong>Game:</strong>
  <%= @employee.game %>
</p>

<p>
  <strong>趣味:</strong>
  <%= @employee.shumi %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @employee.image? %>
    <div class="thumbnail">
      <%= image_tag @employee.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
