<p id="notice"><%= notice %></p>

<h1>Listing Zasekis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zasekis.each do |zaseki| %>
      <tr>
        <td><%= zaseki.name %></td>
        <td><%= zaseki.address %></td>
        <td><%= link_to 'Show', zaseki %></td>
        <td><%= link_to 'Edit', edit_zaseki_path(zaseki) %></td>
        <td><%= link_to 'Destroy', zaseki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zaseki', new_zaseki_path %>
