<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zaseki.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @zaseki.address %>
</p>

<%= link_to 'Edit', edit_zaseki_path(@zaseki) %> |
<%= link_to 'Back', zasekis_path %>
