<p id="notice"><%= notice %></p>

<center><h1>C+PLUS Memeber</h1></center>
<div class="container">
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed" >
  <thead>
    <tr class="active">
      <th>写真</th>
      <th>氏名</th>
      <th>年齢</th>
      <th>会社</th>
      <th>一言</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><image src="<%= member.image %>" width="100" height="100"></td>
        <td><%= member.name %></td>
        <td><%= member.age %></td>
        <td><%= member.company %></td>
        <td><%= member.about %></td>
        <td><%= link_to '参照', member %></td>
        <td><%= link_to '更新', edit_member_path(member) %></td>
        <td><%= link_to '削除', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<button type="button" class="btn btn-primary" style="background:blue;color:black"><%= link_to 'New Member', new_member_path %></button>
