<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Company:</strong>
  <%= @member.company %>
</p>

<p>
  <strong>About:</strong>
  <%= @member.about %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @member.image? %>
    <div class="thumbnail">
      <%= image_tag @member.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
